<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {{msg}}
    <h1>Add Department</h1>
    <form method="POST">
      <label for="department_name">Department Name</label>
      <input type="text" name="department_name" />
      <label for="location id">Department Location ID</label>
        <input type="text" name="location_id" />
      <input type="submit" value="Add Department" />
    </form>
    <p><a href="/">Back To Home</a></p>
  </body>
</html>
